* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after {
  content: "";
  display: table;
  clear: both
}

.main {
  position: relative;
  height: 100vh;
}

#carousel-container {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}


.image-wrapper {
  /* display: inline-block; */
  float: left;
  position: absolute;
  width: 600px;
  height: 600px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  z-index: 5;
}

.button img {
  width: 100px;
  height: 100px;
}

.button__prev {
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.button__next {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  right: 0;
  margin-left: 100px;
}


.carousel-nav {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%)
}

.carousel-indicator {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  float: left
}